---
/* eslint-disable @typescript-eslint/no-explicit-any */
import { toHast } from 'mdast-util-to-hast'
import { toHtml } from 'hast-util-to-html'
import Image from './Image.astro'
import type { RootContent, Root } from 'mdast'
type NodeType = RootContent | Root
type Props = {
  node: RootContent | Root
}

const { node } = Astro.props

type CustomImage = RootContent & {
  type: 'textDirective'
  attributes: {
    src: string
  }
}
type CustomDiv = RootContent & {
  type: 'containerDirective'
  attributes: {
    className?: string
  }
}

const isRoot = (node: NodeType) => node.type === 'root'
const isParagraph = (node: NodeType) => node.type === 'paragraph'
const isTextDirective = (node: NodeType) => node.type === 'textDirective'
const isContainerDirective = (node: NodeType) =>
  node.type === 'containerDirective'

const isCustomImage = (node: NodeType): node is CustomImage => {
  return (
    isTextDirective(node) && node.name === 'image' && !!node.attributes?.src
  )
}

const isCustomDiv = (node: NodeType): node is CustomDiv => {
  return isContainerDirective(node) && node.name === 'div'
}

const isOtherType = (node: NodeType) =>
  !(
    isRoot(node) ||
    isParagraph(node) ||
    isCustomImage(node) ||
    isCustomDiv(node)
  )
---

{isRoot(node) && node.children.map((node: any) => <Astro.self node={node} />)}
{
  isParagraph(node) && (
    <p>
      {node.children.map((node: any) => (
        <Astro.self node={node} />
      ))}
    </p>
  )
}
{isCustomImage(node) && <Image {...node.attributes} />}
{
  isCustomDiv(node) && (
    <div class:list={node.attributes?.className ?? ''}>
      {node.children.map((node: any) => (
        <Astro.self node={node} />
      ))}
    </div>
  )
}
{
  isOtherType(node) && (
    <Fragment set:html={toHtml(toHast(node, { allowDangerousHtml: true }))} />
  )
}
