---
import Icon from '@components/Icon.astro'

const currentYear = new Date().getFullYear()
---

<footer class='flex flex-col gap-y-12'>
  <slot />
  <div class='container mx-auto flex flex-col gap-y-4'>
    <div class='flex w-full justify-between'>
      <a href='/' class='transition-opacity hover:opacity-80 focus:opacity-60'>
        <span class='sr-only'>Pedro Henrique Design</span>
        <img
          class='aspect-[171/32] h-8 w-auto'
          src='/images/logo-horizontal.svg'
          height='32'
          width='171'
          alt=''
        />
      </a>
      <div class='flex gap-x-4 text-[2rem] text-gray-900'>
        <a
          href='https://www.instagram.com/pedrohenri.design/'
          target='_blank'
          rel='noopener noreferrer'
          class='transition-opacity hover:opacity-80 focus:opacity-60'
        >
          <span class='sr-only'>Instagram</span>
          <Icon name='instagram' />
        </a>
        <a
          href='https://www.linkedin.com/in/pedro-henrique-92b806bb/'
          target='_blank'
          rel='noopener noreferrer'
          class='transition-opacity hover:opacity-80 focus:opacity-60'
        >
          <span class='sr-only'>LinkedIn</span>
          <Icon name='linkedin' />
        </a>
      </div>
    </div>

    <div
      class='mx-auto flex h-12 w-full items-center justify-center border-t border-t-gray-100'
    >
      <span class='text-center text-base leading-4 text-gray-900'
        >© {currentYear} | Pedro Henri Design</span
      >
    </div>
  </div>
</footer>
