---
import BaseButton from './BaseButton.astro'
import Image from './Image.astro'
---

<section
  class='flex flex-col rounded-lg bg-gray-50 py-4 sm:pb-8 lg:grid lg:grid-cols-12 lg:items-center lg:justify-between lg:gap-x-6 lg:px-8 lg:py-8'
>
  <div
    class='order-2 flex flex-1 flex-col gap-2 px-4 sm:px-10 lg:order-1 lg:col-span-7 lg:col-start-1 lg:px-0'
  >
    <h1 class='typography-title max-w-[38ch] font-extrabold text-gray-900'>
      Em um mundo<br />
      cheio de barulho,<br />
      design fala mais alto.
    </h1>
    <p class='mb-4 max-w-[38ch] text-xl text-gray-900 lg:text-2xl'>
      As marcas com crescimento mais expressivo são aquelas que valorizam e
      investem em design.
    </p>
    <BaseButton
      icon='mdi:arrow-down'
      href='/#identidade-visual'
      variant='primary'
      className='!h-12 !w-full sm:!w-fit'
    >
      Conheça meu trabalho
    </BaseButton>
  </div>
  <div
    class='order-1 flex h-auto w-full flex-1 px-4 lg:order-2 lg:col-span-5 lg:col-start-8 lg:px-0'
  >
    <Image
      src='/images/primeira-dobra.png'
      sizes='311px sm:475px lg:352px xl:423px'
      class='aspect-[9/10] h-auto w-full'
      alt='Pedro Henrique pensativo segurando sua caneta (da mesa digitalizadora) olhado para frente.'
      loading='eager'
    />
  </div>
</section>
<section
  class='flex flex-col gap-y-6 lg:grid lg:grid-cols-12 lg:flex-row lg:items-center lg:justify-between lg:gap-x-6'
>
  <div class='order-1 lg:order-2 lg:col-span-5 lg:col-start-8 lg:flex-1'>
    <Image
      src='/images/sessao_crio-para-marcas.png'
      sizes='343px sm:496px lg:386px xl:493px'
      class='aspect-square h-auto w-full rounded-lg'
      alt='Pedro Henrique pensativo segurando sua caneta (da mesa digitalizadora) sentado em sua cadeira. Algo comum em seu cotidiano.'
      loading='lazy'
      decoding='async'
    />
  </div>
  <div
    class='order-2 lg:order-1 lg:col-span-7 lg:col-start-1 lg:flex lg:flex-1 lg:flex-col lg:justify-center lg:px-0'
  >
    <h2 class='typography-title max-w-[38ch] font-extrabold text-gray-900'>
      Crio para marcas que visam o crescimento e inovação.
    </h2>
    <p class='mt-2 max-w-[38ch] text-xl text-gray-900 lg:text-2xl'>
      Transformo a essência singular da sua marca em soluções para conduzi-la ao
      sucesso.
    </p>
  </div>
</section>
